.container_match_info{
    display: flex;
    height: 90%; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-around; 
}

.container_match_elo{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around; 

}

.container_notready_match_info{
    display: flex; 
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.match_info{
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.match_info:hover{
    color: inherit;
}


.font_match{
    color: inherit;
    text-decoration: none;
    font-size: 17px;
}

.font_match:hover{
    color: inherit;
}

.lvl_img_match{
    width: 30px;
    height: 30px; 
}


.avatar_img_match{
    width: 45px;
    height: 45px;
}

.match_info_img{
    width: 80px;
}

.team_name{
    color: inherit;
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
}

.team_name:hover{
    color: inherit;
}

.faceit_profile_img_match{
    width: 20px; 
    height: 20px;
}

.elo_match{
    color: inherit;
    text-decoration: none;
    font-size: 13px;
}

.elo_match:hover{
    color: inherit;
}



@media only screen and (max-width: 1050px) {
    .font_match{
        font-size: 15px;
    }
    .avatar_img_match{
        width: 40px;
        height: 40px;
    }
    .card_body{
        margin-left: -20px;
    }
  }

@media only screen and (max-width: 810px) {
    .font_match{
        font-size: 13px;
    }
    .lvl_img_match{
        width: 25px;
        height: 25px; 
    }
    .avatar_img_match{
        width: 35px;
        height: 35px;
    }
    .match_info{
        font-size: 15px;
    }
    .match_info_img{
        width: 60px;
    }
    .team_name{
        font-size: 25px;
    }
    .match_info_button{
        font-size: 11px;
    }
    .faceit_profile_img_match{
        width: 16px; 
        height: 16px;
    }
}

@media only screen and (max-width: 666px) {
    .font_match{
        font-size: 11px;
    }
    .team_name{
        font-size: 21px;
    }
    .avatar_img_match{
        width: 30px;
        height: 30px;
    }
    .elo_match{
        font-size: 11px;
    }
    .match_info_button{
        font-size: 9px;
    }

}


@media only screen and (max-width: 590px) {
    .font_match{
        font-size: 9px;
    }
    .avatar_img_match{
        width: 25px;
        height: 25px;
    }
    .lvl_img_match{
        width: 20px;
        height: 20px; 
    }
    .faceit_profile_img_match{
        width: 14px; 
        height: 14px;
    }
    .match_info_img{
        width: 50px;
    }
    .team_name{
        font-size: 18px;
    }
    .elo_match{
        font-size: 10px;
    }
    .match_info{
        font-size: 13px;
    }
}

@media only screen and (max-width: 510px) {
    .avatar_img_match{
        width: 20px;
        height: 20px;
    }
    .match_info{
        font-size: 10px;
    }
    .match_info_img{
        width: 45px;
    }
    .team_name{
        font-size: 16px;
    }

    .match_info_button{
        font-size: 7px;
    }
}


@media only screen and (max-width: 485px) {
    .font_match{
        font-size: 8px;
    }
}

@media only screen and (max-width: 455px) {
    .avatar_img_match{
        width: 17px;
        height: 17px;
    }
    .font_match{
        font-size: 7px;
    }
    .team_name{
        font-size: 14px;
    }
    .elo_match{
        font-size: 9px;
    }
}


@media only screen and (max-width: 420px) {
    .avatar_img_match{
        width: 15px;
        height: 15px;
    }
    .team_name{
        font-size: 12px;
    }
    .match_info_button{
        font-size: 5px;
    }
    .matchinfomap{
        font-size: 8px;
    }
    .match_info_img{
        width: 40px;
    }

    .lvl_img_match{
        width: 18px;
        height: 18px; 
    }
    .faceit_profile_img_match{
        width: 11px; 
        height: 11px;
    }
}

@media only screen and (max-width: 400px) {
    .match_info_img{
        width: 30px;
    }
    .card_body{
        margin-left: -30px;
    }
    .teamnameb{
        margin-right: -40px;
    }
    .containermatchelob{
        margin-right: -20px;
    }
    .elomatchteama{
        margin-left: 10px;
    }
    .teamnamea{
        margin-left: 10px;
    }
}


@media only screen and (max-width: 386px) {
    
    .card_body{
        margin-right: 5px;
    }
    .lvl_img_match{
        width: 16px;
        height: 16px; 
    }
    .fontmatchplayer{    
        margin-left: -5px;
    }
    .avatarimgmatchb{
        margin-left: -5px;
    }
    
    .matcheloteama{
        margin-left: -5px;
    }
}


@media only screen and (max-width: 348px) {

    .elo_match{
        font-size: 8px;
        font-weight: 500;
    }
    .matcheloteama{
        margin-left: -7px;
    }
    
}